*{
	margin:0;
	padding:0;
}

html{
	background:url('../img/bleu1.gif');
	
}

body{
	background:url('../img/bg_head.jpg') repeat-x top center, url('../img/bg_head.jpg') repeat-x;
	
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#888;
	padding-left: 10px;
	min-height: 100%;

}

p{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}
#corp p{
	color:black;
	margin-bottom: 5px;
	padding: 0;
	font-size:12px;
}


header{
	display:block;
	height: 45px;
	position:relative;
	background-image:linear-gradient(#00AAFF,white);
	margin-bottom:20px; 
	padding-bottom: 5px;
	margin-top: 0;
	padding-top: 0;
}

h2{
	color: #FEFEE2; 
	font-family: 'Yatra One', cursive; 
	font-size: 40px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0 0 50px; 
	text-align: center; 
	text-shadow: 3px 3px 5px black;
}

textarea{
	padding: 5px;
}

.logo{
	position:left;
	float:left;
}

.flows{
	text-align: center;
}

nav{
	float:left;
	width: 12%;
	height: 390px;
	padding: 5px;
	margin-left: 4px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-top: 0px;
	border-radius:10px;
	border: 1px solid #00AAFF;
	border-radius: 15px;
}

.ulf{
	padding-top: 15px;
}

nav ul{
	width: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

nav li{
	display: inline-block;
	height: 45px;
	padding: 0px;
	margin: 0px; 
	text-align: center;
	line-height: 40px;
}

nav li:hover{
	border-bottom: 1px solid #00AAFF;
	background-image:linear-gradient(white, #BBD2E1);
}

nav li a,nav li a:hover {
	display: block;
	text-decoration: none;
	color: #5d5d5d;
	font: 11px 'Roboto+Condensed',Arial,sans-serif;
}

nav li{
	width: 100%;
	text-align: center;
}

.display_fl_comp{
	min-height: 100%;
}

footer{
	color: #696969;
	font-size: 15px;
	line-height: 1.6;
	text-align: center;
	display:block;
	position: absolute; 
	bottom: 0; 
	width: 98%;
	padding-top:2px;
	margin-top: 0%;
}

footer img{
	margin-bottom: -5px;
	padding-top: -5px;
}


a, a:visited {
	text-decoration:none;
	outline:none;
	padding-top: 15px;
	text-align: left;
	padding-left:15px;
}

a:hover{
	text-decoration:underline;
}


#add_c{
	margin-left: 38%;
	margin-top: 3%;
}

#search{
	 background:url(../img/r2.png) no-repeat;
	 margin:0;
	 padding:0;
}



/*******************************/

.li_gest{
	display: inline-block;
	width: 17%;
	height: 40px;
	padding: 0px;
	margin: 0px; 
	text-align: center;
	line-height: 40px;
}

legend{
	font: 18px/1 'Roboto+Condensed',Arial,sans-serif;
	background-color : white;
	border-radius : 5px;
	padding : 5px;
	color : #5d5d5d;
}

label{
	font: 12px/1 'Roboto+Condensed',Arial,sans-serif;
}

input{   
	position: relative;
	left : 10px;
	margin : 1%;
	width:60%;
	padding: 1%;
	border-radius:10px;
	border:1px solid #5d5d5d;
	font-size:12px;
}

input:focus{   
	outline: none !important;
    border:1px dashed #BBD2E1;
}

fieldset {
	background-color : white;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;				
	width: 40%;	
	border-radius: 20px;
	border:1px solid #00AAFF;
	color : #5d5d5d;
}

input[type=submit]{
    margin-top: 2%;
	margin-bottom: 1%;
	width:19%;
	padding: 2px;
	border-radius:10px;
	border:1px solid #00AAFF;
	color : #5d5d5d;
	background-color : white;
    margin-left: 36%;
    height: 27px;
    font: 13px/1 'Roboto+Condensed',Arial,sans-serif;
    font-weight: bold;
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus{
	border:1px dashed #00AAFF;
	font: 12px 'Roboto+Condensed',Arial,sans-serif;
}

input[type=submit]:hover{
	cursor:pointer;
}

input[type=number]{   
	position: relative;
	left : 10px;
	margin : 1%;
	width:40%;
	padding: 1%;
	border-radius:5px;
	border:1px solid #5d5d5d;
	font-size:13px;
	color : #5d5d5d;
}

input[type=number]:focus{   
	margin : 1%;
	width:50%;
	padding: 1%;
	border-radius:5px;
	color : #5d5d5d;
}

input[type=checkbox]{
	padding: 0;
}

#data1 , #data2 , #data3 , #data4 , #data5 , #data6 , #data7, #data8, #data9, #data10{
	display: none;
}

.searForm {
	display: block;
}

.searForm input[type=text]{
	margin-left: 1px;
	padding: 10px;
	width: 65%;
	height: 15px;
	font: 15px 'Roboto+Condensed',Arial,sans-serif;
	border-color:#00AAFF;
}

.searForm input[type=submit]{
	 margin: 0;
	 padding: 0;
}

.searForm input[type=submit]:hover{
	background:url('s.png') no-repeat top left;
	margin: 0;
	padding: 0;
	cursor:pointer;
	color : white;
	background-color : #5d5d5d;
}

.div-ligne{
	margin : 0 1px 1px 1px;	
	padding:0 1px 1px 1px;
	margin-left : 16%;
}

.div-l{
	margin : 0 1px 1px 1px;	
	padding:0 1px 1px 1px;
	margin-left : 1%;
}

.div-g{
	display : inline-block;
	width : 10%;
}
.div-d{
	display : inline-block;
	width : 80%;
}

.div-dr{
	display : inline-block;
	width : 50%;
}

.div-q{
	border:2px dashed blue;
	margin:10px;
	margin-left:20px;
	margin-right:20px;
}

.fied {
	background-color : white;
	padding : 0px;
	margin-top : 2%;
	margin-bottom : 2%;				
	width: 90%;	
	border-radius: 20px;
	border:2px solid #5d5d5d;
}

.fied_result{
	background-color : white;
	padding : 0px;
	margin-top : 2%;
	margin-bottom : 2%;				
	width: 60%;	
	border-radius: 20px;
	border:2px solid ##5d5d5d;
}

.div-d input[type=text]{
	width:90%;
	border-radius:10px;
	height: 10px;
	border:1px solid #00AAFF;
	font-size:13px;
}

.div-d input[type=text]:focus{
	border:1px dashed #00AAFF;
}

.div-d[type=submit]:hover{
	width:21%;
	padding: 1%;
	border-radius:5px;
	border:1px solid #5d5d5d;
	font-size:13px;
	cursor:pointer;
	color : #7ac9b7;
	background-color : #5d5d5d;
}


.div-dr input[type=text]{
	width:70%;
	border-radius:10px;
	height: 10px;
	font-size:13px;
	border-color:#00AAFF;
}


.div-dr input[type=text]:focus{
	border:1px dashed #00AAFF;
}

.div-droite input[type=text]:focus{
	border:1px dashed #00AAFF;
}

input[type=text], input[type=password], input[type=email]{
	border-color:#00AAFF;
}

#valid{
    margin-top: 2%;
	margin-bottom: 1%;
	width:10%;
	height:30px;
	padding: 2px;
	border-radius:5px;
	border:1px solid #5d5d5d;
	color: white;
	background-color : #5d5d5d;
	font-size:12px;
    margin-left: 40%;
}

#valid:hover{
    margin-top: 2%;
	margin-bottom: 1%;
	width:12%;
	height:33px;
	padding: 2px;
	border-radius:5px;
	border:1px solid #5d5d5d;
	color: white;
	background-color : #5d5d5d;
	font-size:13px;
    margin-left: 40%;
}

.Err_conex{
	background-color: red;
	width:40%;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
	text-align: center;
}

#confir{
	margin-left: 0px;
	margin-top: 20px;
}

.confirm{
	border:1px solid #00AAFF;
	width:30%;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:10px;
	text-align: center;
}

.Err_conex p{
	font:16px/1.3 'Segoe UI',Arial, sans-serif;
	color: white;
}

.ins_fait{
	width:40%;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.ins_fait p{
	color: white;
}

.Verif, .Verif_upMid{
	text-align: center;
	background-color: red;
	width:16%;
	padding : 1%;
	margin-top : 5%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
	position: fixed;
	top:20px;
	left: 215px;
}

.Verif_update{
	text-align: center;
	background-color: red;
	width:16%;
	padding : 1%;
	margin-top : 2%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}


.Verif p, .Verif_update p{
	color: white;
	font-size: 12px;
}

.Verif_upMid p{

}

.Etat_gestion{
	width:90%;
	padding : 1%;
	margin-top : 3%;
	margin-bottom : 5%;
	margin-left : auto;
	margin-right : auto;		
}

.display_fl_comp{
	width:97%;
	margin-top : 1%;
	margin-bottom : 1%;
	margin-left : auto;
	margin-right : auto;	
	display: inline;	
}

.Liste_flcomp{
	width:45%;
	padding : 1%;
	margin-top : 1%;
	margin-bottom : 1%;
	margin-left : auto;
	margin-right : auto;	
	display: inline;
}

.Liste_membre{
	float:left;
	margin-left : 4%;
}

select{
	width:70%;
	padding:5px;
	border-color:green;
	border-radius:5px;
	margin-left:10%;
}

.correction{
	/*background-color: red;*/
	width:70%;
	padding : 1%;
	margin-top : 2%;
	margin-bottom : 2%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.correction p{
	color: white;
}

.tout_juste{
	background-color: green;
	width:70%;
	padding : 1%;
	margin-top : 2%;
	margin-bottom : 2%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.tout_juste p{
	color: white;
}

.result{
	border: 2px;
	border-style: solid;
	border-color: green;
	width:70%;
	padding : 1%;
	margin-top : 2%;
	margin-bottom : 2%;
	margin-left : auto;
	margin-right : auto;
	border-radius:5px;
}

.result p{
	color: black;
	font-size:20px;
}

#hello li{
	border: 2px solid #5d5d5d;
	border-radius: 20px;
	margin-right: 3px;
	position:relative;
	float: left;
	list-style: none;
}

#hello li a{
	color: #5d5d5d;
	display: block;
	font: 20px/1 'Roboto+Condensed',Arial,sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	/*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);*/
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
	border-radius: 20px
}



/********** Table style *************/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 83%;
  padding:5px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;
  background:#005A78;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:17px;
  font-weight: 100;
  padding:10px;

  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:15px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#37B9C3;
  color:#FFFFFF;
  border-top: 1px solid #37B9C3;
  border-bottom: 1px solid #37B9C3;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#37B9C3;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
.line{
	background:#EBEBEB;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: center;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: center;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

#manage{
	text-align: center;
	padding: 0;
	margin: 0;
}

.amanage{
	text-align: center;
	padding:0;


	margin-top:3px;
}

#man{
	margin:0;
	padding:0;
}

.aff{
	display: inline;
	width: 100%;
}

.aff a img, .aff a span{
	position: relative;
	float:left;
	margin-bottom: 20px;
}

.aff a img{
	margin-top: -10px;
	padding-left: 5px;
}

.aff a span{
 	margin-top:-3px;
	padding-left: 10px;
}

#aff1{
	margin-right: 1px;
	margin-top:-10px;
}

#aff1 a{
	margin-top:-40px;
}

#aff2 a span, #aff2 a img, #aff3 a img{
	margin-top: -30px;
}

#aff3 a img{
	margin-top: -10px;
}

#aff2 a span{
	margin-top: -24px;
}


.aff a:hover{
	color: #00AAFF;
}

.table_add td{
	text-align:center; 
    vertical-align:middle;
}

.table_add select, .table_add textarea, .table_add input[type=text]{
	width: 80%;
	border:none;
	background-color: none;
	margin-right: auto;
	margin-left: auto;
}

.table_add select{
	width:50%;
}

.table_add textarea{
	border-radius: 15px;
}

.table_add textarea:focus , .table_add select:focus{
	outline: none;
}

.add_field, .add_midd{
	margin-bottom:-5px;
	margin-top: 0px;
	height: 465px;
}

.add_field input[type="text"], .add_field textarea, .add_field select,
.add_midd input[type="text"], .add_midd textarea, .add_midd select{
	border:1px solid #00AAFF;
}

.add_field textarea , .add_midd textarea{
	border-radius: 10px;
	margin-left: 15px;
}

#add_flow{
	width: 70%;
	height: auto;
}

#add_flow table{
	width: 100%;

}

#add_flow table input[type="text"], #add_flow table input[type="text"]:focus{
	margin-left:-20px;
	height: 30px;
	width: 95%;
	font-size: 12px;
}

#add_flow input[type="checkbox"], #add_flow span{
	margin-left:-250px;
}

#search_flow{
	width: 97%;
	height: auto;
	border-color: white;
	margin-top:2%;
}

#search_flow table {
	width: 97%;
	height: auto;
}

#search_flow th {
	margin-left:0;
	margin-right: -5px;
}

#search_flow input[type="text"]{
	width: 60%;
	height: 18px;
	border-radius: 5px;
	margin-right: 0;
}

#search_flow input[type="submit"]{
	width: 100%;
	margin-top:4px;
	margin-left: -13px;
	border-radius: 5px;
	padding-right: 20px;
	background-image:url("../img/r2.png");
	border:none;
}

#edit{
	margin-top:15px;
	border-radius: 5px;
	padding-right: 20px;
	background-image:url("../img/p.png");
	border:none;
	width: 24px;
	height: 24px;
	margin-left: 0px;
}

#delete{
	margin-top:15px;
	border-radius: 5px;
	padding-right: 20px;
	background-image:url("../img/tr21.png");
	border:none;
	width: 24px;
	height: 24px;
	margin-left: 0px;
}
	

.search_bt{
	padding: 8px;
	border-radius:10px;
	border:1px solid #00AAFF;
	color : #5d5d5d;
	background-color : white;
    margin-left: 38%;
    font: 13px/1 'Roboto+Condensed',Arial,sans-serif;
    font-weight: bold;
    padding-right:20px;
    margin-top:10px;
}

hr{
	 border-top: 1px solid #00AAFF;
	 margin-bottom: 30px;
}
.search_bt img{
	margin-top: 10px;
	padding-bottom:-10px;
	padding-left: 10px;
}

.search_bt span{
 	margin-top:-30px;
	padding-left: 10px;
}

.search_bt, .search_bt:hover{
	text-decoration: none;
	outline:none;
}

/**************** AUTOCOMP*****************/
.label_div {
	width: 120px;
	float: left;
	line-height: 28px;
}
.input_container {
	height: 30px;
	float: left;
}
.input_container input[type="text"] {
	height: 20px;
	width: 200px;
	padding: 3px;
}
.input_container ul {
	width: 206px;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 9;
	background: #f3f3f3;
	list-style: none;
}
.input_container ul li {
	padding: 2px;
}
.input_container ul li:hover {
	background: #eaeaea;
}
#mid_list_id {
	display: none;
	margin-bottom: 3%;

}

.fiel_search{
	margin-top: 0;
}